{% extends 'base.html' %}

{% block content %}

<h2 class="headings">Add a New Service Log</h2>
<form method="POST">
    {{ form.hidden_tag() }}
    <div class="form-group">
        <fieldset>
            {{ form.work_performed.label }}
            {{ form.work_performed(class='form-control', placeholder='Enter Work Performed Here...', cols='25', rows='3') }}
        </fieldset>
        <br>
        <div>
            {{ form.submit(class='btn btn-primary submit-button')}}
            <div class="btn btn-primary btns">
                <a href="{{ url_for('logs.customerInfo', customer_id=customer_id) }}">Go Back</a>
            </div>
        </div>
    </div>
</form>

{% endblock content %}