{% extends 'base.html' %}

{% block content %}
    <h2 class="headings">You currently have no customers on file.</h2>
    <div class="btn btn-primary btns">
        <a href="{{ url_for('logs.createCustomer') }}">Create New Customer</a>
    </div>

    <!-- Button trigger modal -->
    <div class="info-buttons">
        <button type="button" class="btn btn-danger btns" data-bs-toggle="modal" data-bs-target="#exampleModal">
            Delete Account
        </button>
    </div>
    
    
    <!-- Modal -->
    <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Are you sure you want to delete your account?</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    Warning. This action cannot be undone. All information will be lost.
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                    <form action="{{ url_for('auth.deleteUser') }}" method="POST">
                        <button type="submit" class="btn btn-danger">Delete</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
{% endblock content %}