{% extends 'base.html' %}

{% block content %}

<h2 class="headings">Update Service Log</h2>
<form method="POST">
    {{ form.hidden_tag() }}
    <div class="form-group">
        <fieldset>
            {{ form.work_performed.label }}
            {% set f = form.work_performed.process_data(log.work_performed) %}
            {{ form.work_performed(class='form-control', cols='25', rows='3') }}
        </fieldset>
        <br>
        <div>
            {{ form.submit(class='btn btn-primary submit-button')}}
            <div class="btn btn-primary btns">
                <a href="{{ url_for('logs.logInfo', log_id=log.id) }}">Go Back</a>
            </div>
        </div>
        
    </div>
</form>

{% endblock content %}